/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------MY CODE STARTS HERE----------------*/



/*google font applied to the wrapper*/
.wrapper{
    max-width:1200px ;
    padding-bottom: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    

}
h2 ,  h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h2{
    font-size: 2rem;
}
p{
    padding-top: 5px;
    padding-bottom: 20px;
    
}

/* -----------------The header is the parent for log navbar and search box,nav at mobile to be column shape and row sahpe atdesktop, best to use flex  a*/
.container{
   
    padding-left: 20px;
    
}

.navbar{
    box-sizing: border-box;
    background-color:#222;
    
}
.main-nav    {
    position:relative;
    
}
.main-nav ul{
    
    padding: 1px;
    text-align: center;
    
    
}
.main-nav ul li {
    
    background-color: #222;
    white-space: nowrap;
    
    
    
}
.main-nav ul li a {
    color:#ffe6ac ;
    display: block;
    font-size: 20px;
    margin-top: -1px;
    
    
    width:12%;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    
}
.main-nav ul li a.active{
    background-color: #c78c06;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;


    display: block;
    
   
   
    
   
    
   
    
}
.main-nav ul li a:hover {
    background: #c78c06
}

.logo-container{
    
    display: flex;
    align-items: center;
    background-color:  #c78c06;
    align-items: center;
    
}
.logo{
    padding-top:18px ;
    padding-bottom: 84px;
    cursor: pointer;
}
.search-box-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#222; 
    color: #ffe6ac;
    height: 44px;
    padding: 0 15px 15px 15px;
    border: black 1px solid;
   
    
    
}
.search-box-wrapper input {
    width: 100%;
    font-size: 20px;
    padding:15px 0 15px 15px;
    border: none;
   
    
    
   
}
.mag-box{
    display: flex;
    align-items: center;
    background-color: #222;
    margin: 0;
    
    height: 54px;
    text-align: center;
   
    border: solid 1px;
}
i{
    width: 50px;
    text-align: center;
    font-size:22px ;
    cursor: pointer;
   
    
}
::placeholder{
    color: rgb(57, 62, 62);

}





/*a:link {background-color: #f67316;
    
    
}
a:visited{
    background-color: ;
    
}*/




/* Welcome section has a background image with header and paragraph and buttin */
.welcome-message{
    background-image: url(../images/main-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    
    background-size:100% 100% ;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
.welcome-message h1{
    font-size:55px;
    font-weight: bold;
    color: white;
    margin-top: 80px;
    padding-bottom: 40px;
}
.welcome-message p{
    
    color: white;
   
    

    
}
.welcom-area-container{
    
    
    background-color:rgba(0, 0, 0, 0.5);
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;

}

/* */
.link-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 275px;  
   
    background-color: #c78c06;
    
}

.link-button button{
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

/* About us section   area has a sold background color and image with header and pargraph in desktop version to use flex to dsplay  two columns  */

.about-us-container{
    
    padding:15px;
    background-color: #ffe6ac;


}
.imag-about-us{
    width: 100%;
    
}




/* our service as hero section  we should  use grid to arrange service divisions in media query   */

.our-services-container {
    background-color: white;

}
.our-services-container img{
    width: 100%;

}

.our-services h2 {
    background-color: white;
    padding-left: 10px;
}



.box-2{
    background-color:#ffe6ac;
    padding-left: 10px;
    padding-bottom: 10px;
   

}
.box-2 h3{
    font-size: 1.5rem;
    
}
.box-1{
   
    margin:0 10px 10px 10px
}
.plans-button {
    
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 275px;
      
   
    background-color:black
    
}
.plans-button button{
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}




/* our vision has  abckground image with header and paragraph and button , the imag should be full wrapper widthnge service    */


.our-vision{
    
    background-image: url(../images/vision.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    
    background-size:100% 100% ;
    background-size: cover;
    
    padding-top: 80px;
    padding-bottom: 10px;
   
    

}
.our-vision  h2 {
    color: white;

}
.our-vision p {
    color: white;

}

.learn-more  {
   
    
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 275px;
      
   
    background-color:black
    
}
.learn-more button{
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}



/* our team section has two images and two division each with two headars one horizantil line and paragrapth with sold background ?    */
.our-team{
    background-color: white;
}
.our-team h2 {
    background-color: white;
    padding:30px 0 15px 15px;
    
}

h4{
    font-weight: bold;
}
.container-2 img{
    width: 100%;
}
.container-2{
  
    background-color: white;
    margin:0 15px 15px 15px;
}
hr{
    border-top: solid #222 2px;
    margin-right: 15px;
}
.ceo .box-2{
    margin-bottom: 15px;
}

/* contact us form to apply full container width   */
.contact-us{
    background-color: white;
    margin-top: 0;
}
.form-group{
    padding-top: 20px;
    padding-right:20px;
}
input{
    width: 100%;
    height: 1.5rem;
  
}
textarea{
    width: 100%;
    height: 10rem;
  
}
.message-container button{
    color:white;
    background-color: black;
    margin-top: 10px;
    cursor: pointer;
}
.table-time{

    padding-right: 15px;
}

.content-table{
    border-collapse: collapse;
    
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
    
}
.content-table thead tr{
    background-color: #ffe6ac;
}
.content-table th ,
.content-table td {
    padding: 15px 15px
}
.content-table tbody td ,
.content-table thead th {
    border: solid #222 1px;
}



/* Impeded map styling to have it responsive map width 100%    */
.imp-map{

    padding-right:20px;
    padding-bottom: 10px;
}
iframe{
    width: 100%;
}

/* Footer with copright paragrapth and source paragraph     */
footer{
    padding-top: 10px;
    background-color: #222;
    color: white;
}
footer a{
    color: white;
}

/* -----------------Media Query starts here ----------------*/

@media screen and (min-width: 760px) {

    /*google font applied to the wrapper*/
        .wrapper{
        border:solid rgb(236, 25, 6) 1px;

        }
        .container-m{
            border:solid rgb(73, 190, 22) 2px;
            margin:0 50px 0 50px;
           
            
        }
        .navbar-container{
            display: flex;

            
                border:solid rgb(228, 33, 179) .5rem;
                background-color: #222;

        }
        ul{
            display: flex;
        }
        .logo-container{
            background-color:transparent
        }



            
        }



        }


